.backButton{
  background-color:#005f6b;
  color:#fff;
  font-family:'Franklin Gothic Medium','Arial';
  margin: 20px 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  }
  .backButton:hover {
  background-color:#4CAF50;
  color: #cfffe7;
  transform: scale(1.05); 
  /* Slight zoom-in effect */
  }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 200%;
}

h1::after {
    font-family: Impact;
    content: 'PeakeFit';
    color: #0093AF;
    margin-left: 5px;
}

p {
    font-size: 18px;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 1.25rem!important;
}

button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #005f6b;
}

@media screen and (max-width: 768px) {
    header, main {
      flex-direction: column;
    }

    section {
      padding-right: 0;
    }
    
    aside {
      width: 100%;
      text-align: center;
    }
  }
  