
  /* Apply theme variables */
  body {
    background-color:#d3d3d3;
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    line-height: 1.3;
  }

header {
    padding: 1%;
    background-color: #13293d;
    color: #fff;
    }

  #top {
    color: #4CAF50;
    text-align: center;
  }
  /* adding style to back button on about us*/
  .backButton{
    background-color:#005f6b;
    color: #fff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow, Arial, sans-serif';
    margin: 20px 10px;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    }
    .backButton:hover {
      background-color:#4CAF50;
      color: #fff;
      transform: scale(1.05); 
      /* Slight zoom-in effect */
      }
p {
    font-size: 18px;
    color: #333;
}

button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    max-width: 200px;
}

img{
    max-width: 500px;
    max-height: 500px;
    display: flex;
    border: 10px solid #008CBA;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 1.0);
    margin: 10px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: #13293d;
    color: #fff;
  }
  /* back button styling*/
    button:hover {
    background-color: #005f6b;
    }

.btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #005f6b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  /* responsive layout- stacks images on top of one another*/  
      @media screen and (max-width: 768px) {
        header, main {
        flex-direction: column;
        }
}
  
  